body
{
	font-size: 0.9em;
	font-family: Arial, sans-serif;
}

#calendar
{
	width: 20%;
	padding: 3px;
	height: 720px;
}

#main
{
	height: 91%;
	width: 79%;
	float: right;
}

#header
{
	margin-bottom: 10px;
}

#logo
{
	float: left;
	width: 68%;
	text-align: center;
}

#alarme
{
	padding: 3px;
	margin-left: 69%;
	height: 100px;
}

#corps
{
	width: 100%;
	clear: both;
}

#box
{
	margin-bottom: 10px;
	padding: 3px;
	height: 250px;
}

#action
{
	height: 335px;
}

.fermerOnglet
{
	float: right;
	margin-top: 8px;
	margin-right: 8px;
}

#postit
{
	clear: both;
	width: 100%;
	margin-top: 10px;
}

#postitIcon
{
	margin: auto;
}