#listeOnglets
{
    overflow: hidden;
}

.fermerOnglet
{
    margin-right: 5px;
    margin-top: 8px;
    float: right;
}

.titreOnglet
{
    overflow: hidden;
    width: 200px;
}

#ajouterOnglet
{
    height: 25px;
    width: 35px;
    margin-top: 7px;
}