body
{
	font-size: 0.9em;
	font-family: Arial, sans-serif;
}

#calendar
{
	width: 20%;
	margin-right: 5px;
	padding: 3px;
}

#main
{
	height: 91%;
	width: 79%;
	float: right;
	margin-bottom: 5px;
}

#header
{
	margin-bottom: 10px;
}

#logo
{
	float: left;
	width: 68%;
	text-align: center;
}

#alarme
{
	width: 30%;
	padding: 3px;
	margin-left: 69%;
}

#corps
{
	width: 100%;
	clear: both;
}

#box
{
	margin-bottom: 10px;
	padding: 3px;
}

#action
{
	
}

.fermer
{
	margin-top: 7px;
	margin-right: 3px;
}

#postit
{
	clear: both;
	width: 100%;
}

#postitIcon
{
	margin: auto;
}