.taskEditor label
{
    display: block;
    float: left;
    width: 10em;
}

.taskEditor .description
{
    margin-left: 10em;
}

.description textarea
{
    width: 100%;
}

.taskEditor .content
{
    margin-top: 2em;
}

.taskEditor .content textarea
{
	height: 10em;
    width: 100%;
}

.taskEditor .button 
{
	text-align: center;
}

.taskEditor .button  input
{
	width: 10em;
	height: 2em;
}
.taskEditor .recipient  input, .taskEditor .object input
{
	width: 25em;
}

